<h1>Welcome to datagator</h1>
<p>
We'll eat whatever you give us.
</p>
Current usage:
<ul>
  <li>Datasets: <%=@datasetCount%></li>
  <li>Datums: <%=@datumCount%></li>
</ul>
<br/>

<div>
<%= link_to "start a new dataset", new_dataset_path %>
</div>

<hr>
Datagator is brought to you by PEI Open Data Book Club</br>
Developed by @myDigitalHubris &copy;2015
